.button {
    display: flex;
    text-align: center;
    a {
        margin: auto;
        display: inline-block;
        text-transform: uppercase;
        transition: 0.4s;
        border-radius: 3px;
    }
}
.btn--small{
    padding: 0.8rem 1.5rem;
    font-size:1.4rem;
}
.btn--medium {
    padding: 1rem 3rem;
    font-size:1.6rem;
}

.btn-bg--primary {
    background: $primary-color;
    border: 1px solid $primary-color;
}
.btn-bg-gradient{
    background:$gradient-color;
    border: 1px solid $primary-color;
}
.hover-primery-op {
    &:hover {
        background: rgba(98, 45, 128, 0.2);
    }
}